---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Automation"
    img="/post_img.webp"
    desc="The objective of the project is the collection of information in an automated way for later with them do scrubbing of the data. Additionally, the realization of a platform to make use of this data was planned."
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ecommerce"
    img="/post_img.webp"
    desc="It was a project to perform bug fixes and additional functionalities under proprietary software."
  />

  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  -->
</BaseLayout>
