
<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    <a href="https://github.com/srcortez45" target="_blank" class="font-bold">Josseph Cortez ⚡️</a>
  </div>
</footer>
<style>

</style>
